
.main {
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  margin: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.navbar{
  border-radius: 5px;
  margin: 5px;
  display: flex;
  width: calc(100% - 10px);
  height: 60px;
  backdrop-filter: blur(3px);
  background: linear-gradient(180deg, #1D1D1Db3 0%, #303030b3 100%);
  z-index: 1;
}

.content{
  width: 100%;
  height: calc( 100% - 70px);
  display: flex;
  flex-direction: row;
}

.map{
  display: flex;
  width: calc(100% - 10px);
  height: calc(100% -10px);
}

.sidebar{
  backdrop-filter: blur(3px);
  background: linear-gradient(180deg, #1D1D1Db3 0%, #303030b3 100%);
  border-radius: 5px;
  margin: 5px;
  height: calc(100% - 10px);
  /* border: 1px solid green; */
  z-index: 1;
  width: calc(300px - 10px);
  min-width: calc(300px - 10px);
}

.infobar{
  display: flex;
  position: absolute;
  width: calc( 100% - 300px - 10px);
  height: 100px;
  bottom: 5px;
  /* border: 1px solid blue; */
  right: 5px;
}

